@model IEnumerable<ProdutoViewModel>
@{
    ViewData["Title"] = "Produtos";
}

<div class="container">
    <div class="row gx-6 justify-content-between">
        <div class="col-sm-6">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="col-sm-6 acoes-tabela">
            <a type="button" class="btn btn-success" title="Cadastrar novo"
            asp-controller="Produto" asp-action="New"><i class="fa fa-plus"></i></a>
        </div>
    </div>
</div>

<partial name="_ProdutosList" />
