@{
    ViewData["Title"] = "Início";
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="text-center">
    <h1 class="display-4">Bem vindo à MaxStore!</h1>
    <img class="home-svg" src="~/img/shop.svg" />
</div>
