@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<div class="text-center">
    <img class="login-svg" src="~/img/error.svg" />
</div>

<h1 class="text-danger">Ops...</h1>
<h2 class="text-danger">Ocorreu um erro em nossa aplicação, por favor tente mais tarde</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
